body{
	margin: 0;
}

#salert{
  background:#594954;
  width: 55vh;
  height: 25vh;
  border-radius: 2vh;
  border: solid white 1px;
  opacity: 0.8;
  position: absolute;
  font-size: 4vh;
  line-height: 18vh;
  color: white;
  text-align: center;
  top: 35%;
  left: 35%;
  z-index: 999;
  transition: 2.5s;
  display: none;
}

#top{
	background-color: white;
	height: 120px;
	width: auto;
}
#t-top{
	background-color: white;
    height: 70px;
    width: auto;
    margin: 0 0 0 200px;
}
#title{
	width: 400px;
	height: 70px;
	background-color: black;
	display: inline-block;
}
#title img{
	width: 400px;
	height: 70px;
}
#login{
	width: 200px;
	height: 70px;
/*	padding: 20px 65px 15px 65px;*/
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 15px;
}
.font{
	text-align: center;
	font-size: 15px;
	height: 40px;
	width: 70px;
	line-height: 40px;
	background-color: #3f51b5;
	display: inline-block;
	margin: 0 10px 0 0 ;
}
#daohang{
	height: 50px;
	width: auto;
	background-color: #3f51b5;
}
#daohang ul{
	list-style: none;
	margin: 0 0 0 300px;
	font-size: 17px;
}
#daohang li{
	display: inline-block;
	width: 90px;
	height: 50px;
	background-color: #3f51b5;
	margin: 0;
	text-align: center;
	line-height: 50px;
}
#top a{
	    text-decoration: none;
	    color: white;
}
#daohang li:hover{
    background-color: #313e84;
}

#lunbo{
	width: auto;
	height: 550px;
	background-color: yellow;
	cursor: pointer;
}
#pic{
	width: auto;
	height: 550px;
	background-color: purple;
}
img{
	width: 100%;
	height: 550px;
}
.no{
	display: none;
}
#dianji{
	position: absolute;top: 626px;left: 672px;
	background-color: transparent;
	z-index: 100;
	height: 20px;
	width: 180px;
}
.kuai{
	width: 15px;
	height: 15px;
	background-color: transparent;
	display: inline-block;
	margin: 0 0 0 20px;
	border:2px solid #219be6;
}
#tongzhi{
	width: auto;;
	height: 650px;
	background-color: white;
	padding: 20px 12% 5px 12%;
}
#tt{
	width: 150px;
	height: 50px;
	font-size: 30px;
	margin: 0 auto;
	font-weight: 900;
}
#light{
	border-top: 3px solid black;
	width: 10%;
	margin:  0 auto;
}
.thing{
	margin: 50px 0 0 6.5%;
	height: 65%;
	width: 40%;
	display: inline-block;
	background-color: transparent;
	border: 1.5px solid black;
}
.biaoti{
	background-color: transparent;
	width: 70%;
	height: 40px;
	padding: 20px 15% 20px 15%;
	overflow: hidden;
	font-size: 21px;
	font-weight: 800;
	text-align: center;
}
.ligg{
	width: 70%;
	border-top: 1.5px solid red;
	margin: 0 auto;
}
.neirong{
	margin: 30px 30px 30px 30px;
	padding: 15px 5px 5px 5px;
	overflow: hidden;
	height: 260px;
	font-size: 20px;
	border: 1px solid black;
}

#bottom{
	width: auto;
	height: 20px;
	background-color: #2a2d34;
	margin: 5px 0 0 0;
	padding: 30px 0 20px 150px;
}
#zi{
    color: white;
    margin: 0;
    width: auto;
}

/*xyy*/
.empty{
	height: 100px;
}
.content{
	background:white;
}
.block{
	text-align: left;
}
h1{
	color: rgba(0,0,0,0.5);
	margin-bottom: 50px;
	margin-top: 40px;
}
#portal{
	/*height: 70px;*/
	margin: 10px auto;
	text-align: center;
	padding-top: 10px;
	border: 1px solid red;
	border-radius: 4px;
}

a{
	color: black;
}

#portal:hover{
	padding-top: 10px;
	border: 1px solid red;
	border-radius: 4px;
	-webkit-box-shadow:#666 0px 0px 20px;
	-moz-box-shadow:#666 0px 0px 20px;
	box-shadow: #666 0px 0px 20px;
}
#star-five { 
	margin: -100px 0px 10px 140px; 
	/*position: relative; */
	display: inline-block;
	color: red; 
	width: 0px; 
	border-right: 100px solid transparent; 
	border-bottom: 70px solid yellow; 
	border-left: 100px solid transparent; 
	transform: rotate(35deg); 
	transform: scale(0.1);
} 
#star-five:before { 
	border-bottom: 80px solid yellow; 
	border-left: 30px solid transparent; 
	border-right: 30px solid transparent; 
	position: absolute; 
	top: -45px; 
	left: -65px; content: ''; 
	transform: rotate(-35deg); 
} 
#star-five:after { 
	position: absolute; 
	color: red; 
	top: 3px; 
	left: -105px; 
	border-right: 100px solid transparent; 
	border-bottom: 70px solid yellow; 
	border-left: 100px solid transparent; 
	transform: rotate(-70deg); 
	content: ''; 
}
#star-five:focus{
	border-bottom: 70px solid red; 
}
.button{
	height: 20px;
	width: 20px;
	display: inline-block;
	position: absolute;
	margin: -40px;
	margin-left: 100px;
	background-color: white;
	color: white;
	border: 1px solid yellow;
	border-radius: 50%;
}
.button:hover{
	background-color: red;
}
a.button:visited{
	background-color: ;
}
.end{
	height:100px;
	width:100%;
	margin-top:100px;
	text-align:center;
}